@{
    ViewBag.Title = "Home Page";
}

        <ul class = "example-orbit" data-orbit>
            <li>
                <img src="http://www.beverlyhillsmagazine.com/wp-content/uploads/SSC-Tuatara-Car-Magazine-Luxury-Imports-Most-Expensive-Cars-Dream-Cars-Rich-Cars-Cool-Cars-Beverly-Hills-Magazine-Luxury-Cars-VIP-Style-Cars-1.jpg" alt="slide 1" />
                <div class="orbit-caption">
                    This car costs two arms.
                </div>
            </li>
            <li class="active">
                <img src="http://www.wallideas.net/wp-content/uploads/2015/04/cool-racing-cars-Best-Wallpaper-Gallery-ngdpf-Free.jpeg" alt="slide 2" />
                <div class="orbit-caption">
                    This car costs an arm and a leg.
                </div>
            </li>
            <li>
                <img src="http://wallpaperput.com/wp-content/uploads/2015/02/cool-HD-cars-dekstop-free-wallpaper.jpg" alt="slide 3" />
                <div class="orbit-caption">
                    Good luck affording this one.
                </div>
            </li>
            <li>
                <img src="http://3.bp.blogspot.com/-tbBSXxobIgA/Tv2VSCvI-MI/AAAAAAAAACQ/x7xqKw99gCA/s1600/hd_car_wallpapers++5.jpg" alt="slide 4" />
                <div class="orbit-caption">
                    Dream on.
                </div>
            </li>
        </ul>
    



@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="button round" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="button round" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="button round" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@